// Core text
.head1 {
  @include fontH1;
}
.head2 {
  @include fontH2;
}
.head3 {
  @include fontH3;
}

// Landing or Homepage

.container {
  .section {
    .contentWrap {
      &.sec1 {
        height: 60vh;
        display: grid;
        grid-template: auto / 1fr 1fr;
        // flex-flow: row nowrap;
        align-items: center;
        padding: 2em;
        svg {
          place-self: center;
          margin-bottom: 0;
        }
        div.introWrap {
          display: flex;
          flex-flow: column nowrap;
          max-width: 400px;
          .name {
          }
          .developer {
          }
          .callToAction {
            .cta {
            }
          }
        }
      }
      &.sec2 {
        .head2 {
        }
        .projCardsWrapper {
          &::-webkit-scrollbar {
          }
          &::-webkit-scrollbar-track {
          }
          &::-webkit-scrollbar-thumb {
          }
          &::-webkit-scrollbar-thumb:hover {
          }
          .projCard {
            .projName {
            }
            .projUrl {
            }
          }
        }
      }
      &.sec3 {
      }
      &.sec4 {
        div.aboutMe {
          display: grid;
          grid-template-columns: 2fr 3fr;
          grid-template-rows: auto;
          gap: 2rem;
          img.portrait {
            margin: 0;
          }
          p {
          }
        }
      }
      h2 {
        margin-bottom: 1em;
      }
    }
  }
}

// Footer
.foot {
  .footContainer {
    .footTitle {
    }
  }
}

.statCard {
  position: relative;
  width: 350px;
  min-height: 500px;
  height: 100%;
  max-height: max-content;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  border-radius: 8px;
  &.active {
    .card {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  }
  .card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    div {
      padding: 1rem;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      border-radius: 8px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-family: Open Sans;
      color: #212121;
    }
    .front {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      &.card_front {
      }
      .portrait {
        max-width: 200px;
        border-radius: 200px;
        margin-bottom: 1rem;
      }
    }
    .back {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);

      display: flex;
      flex-flow: column nowrap;
      &.card_back {
      }
      h2 {
      }
      .interests {
        display: flex;
        flex-flow: row wrap;
        .pill {
          padding: 4px 1rem;
          border: 1px solid $accent;
          border-radius: 40px;
        }
      }
    }
  }
}
