// mixins

// Heading 1
@mixin fontH1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-decoration: none;
}

// Heading 2
@mixin fontH2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-decoration: none;
}

// general text font info
@mixin fontH3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-decoration: none;
}

@mixin p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

// call to action button
@mixin cta {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-decoration: none;
}
