// Variables
$primary: #f6e8df;
$secondary: #feae96;
$accent: #feae96;
$accent2: #3e3b6f;

$desktop: 1200px;
$tablet: 762px;
$mobile: 480px;

$radius: 10px;

$fa-font-path: "../webfonts";

$shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.3);
