// Variables
// $primary: #f6e8df;
// $secondary: #feae96;
// $accent: #feae96;
// $accent2: #3e3b6f;

// $primary: #222831;
// $secondary: #393e46;
// $accent: #fe7014;
// $accent2: #eeeeee;

$primary: #2a2438;
$secondary: #241f44;
$accent: #5c5470;
$accent2: #dbd8e3;

// $primary: #040309;
// $secondary: #0e2128;
// $accent: #59899d;
// $accent2: #adbecc;

$white: #eeeeee;
$black: #000000;

$desktop: 1200px;
$tablet: 762px;
$mobile: 480px;

$radius: 10px;

$fa-font-path: "../webfonts";

$shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.3);
