// Core text
.head1 {
  @include fontH1;
}
.head2 {
  @include fontH2;
}
.head3 {
  @include fontH3;
}

// Landing or Homepage

.container {
  width: 100%;
  height: 100%;
  .section {
    width: 100%;
    // height: 100vh;
    padding: 1em;

    &.section1 {
      background-color: #f6e8df;
    }
    .contentWrap {
      max-width: 1200px;
      margin: 0 auto;
      &.sec1 {
        height: 100vh;
        background-color: #f6e8df;
        padding: 2em 1.5em 20% 1.5em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        svg {
          width: 100%;
          max-height: 300px;
          margin-bottom: 3em;
        }
        div.introWrap {
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-end;
          .name {
            @include fontH1;
            font-size: 40px;
            width: 100%;
            text-align: left;
            margin-bottom: 0.5em;
          }
          .developer {
            @include fontH3;
            font-size: 18px;
            color: #666666;
            margin-bottom: 2em;
          }
          .cta {
            @include cta;
            width: 100%;
            text-decoration: none;
            color: #ffffff;
            text-align: center;
            background: $accent;
            border: none;
            padding: 0.55em;
            border-radius: 10px;
          }
        }
      }
      &.sec2 {
        .head2 {
        }
        .projCardsWrapper {
          display: flex;
          flex-flow: row nowrap;
          padding: 1rem 0;
          overflow-x: scroll;
          &::-webkit-scrollbar {
            height: 10px;
          }
          &::-webkit-scrollbar-track {
            background: $primary;
          }
          &::-webkit-scrollbar-thumb {
            background: $accent;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: darken($accent, 10%);
          }
          .projCard {
            text-decoration: none;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;
            background-color: #666;
            height: 200px;
            min-width: 150px;
            padding: 1rem 1rem 2rem 1rem;
            border-radius: 10px;
            margin-right: 1.25rem;
            .projName {
              color: #ffffff;
              font-size: 18px;
            }
            .projUrl {
              color: #ffffff;
              font-size: 12px;
            }
          }
        }
      }
      &.sec3 {
      }
      &.sec4 {
        display: flex;
        flex-flow: column nowrap;
        padding-bottom: 3rem;
        div.aboutMe {
          display: flex;
          flex-flow: column nowrap;
          img.portrait {
            margin: 1rem 0;
            border-radius: 10px;
          }
          p {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}

// Footer
.foot {
  min-height: 150px;
  background-color: $primary;
  padding: 1rem;
  .footContainer {
    .footTitle {
      font-size: 16px;
      text-align: center;
    }
  }
}
