// Core text
.head1 {
  @include fontH1;
}
.head2 {
  @include fontH2;
}
.head3 {
  @include fontH3;
}

// Landing or Homepage

.container {
  width: 100%;
  height: 100%;
  .section {
    width: 100%;
    // height: 100vh;
    padding: 1em;

    &.section1 {
      background-color: #f6e8df;
    }
    .contentWrap {
      max-width: 1200px;
      margin: 0 auto;
      &.sec1 {
        height: 100vh;
        background-color: #f6e8df;
        padding: 2em 1.5em 20% 1.5em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        svg {
          width: 100%;
          max-height: 300px;
          margin-bottom: 3em;
        }
        div.introWrap {
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-end;
          .name {
            @include fontH1;
            font-size: 40px;
            width: 100%;
            text-align: left;
            margin-bottom: 0.5em;
          }
          .developer {
            @include fontH3;
            font-size: 18px;
            color: #666666;
            margin-bottom: 2em;
          }
          .callToAction {
            display: grid;
            grid-template: auto / 1fr 1fr;
            grid-gap: 1rem;
            .cta {
              @include cta;
              width: 100%;
              text-decoration: none;
              color: #ffffff;
              text-align: center;
              background: $accent;
              border: none;
              padding: 0.55em;
              border-radius: 10px;
              transition: all 0.5s;
              -webkit-transition: all 0.5s;

              &:hover {
                background-color: darken($accent, 10%);
                box-shadow: $shadow;
                transition: all 0.5s;
              }
            }
          }
        }
      }
      &.sec2 {
        .head2 {
        }
        .projCardsWrapper {
          display: flex;
          flex-flow: row nowrap;
          padding: 1rem 0;
          overflow-x: auto;
          &::-webkit-scrollbar {
            height: 10px;
          }
          &::-webkit-scrollbar-track {
            background: $primary;
          }
          &::-webkit-scrollbar-thumb {
            background: $accent;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: darken($accent, 10%);
          }
          .projCard {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            height: 200px;
            min-width: 150px;
            max-width: 150px;
            margin-right: 1.25rem;
            border-radius: 10px;
            transition: all 0.5s;
            text-decoration: none;
            &:hover {
              z-index: 3;
              transform: translateY(-10px);
              box-shadow: $shadow;
              background-color: rgba(0, 0, 0, 0.15);
              transition: all 0.5s;
            }
            &#bridgewoods {
              background-image: url("/assets/images/bridgewoods.png");
            }
            &#oakcg {
              background-image: url("/assets/images/oakcg.png");
            }
            &#solcrave {
              background-image: url("/assets/images/solcrave.png");
            }
            &#resortboneyard {
            }
            .overlay {
              display: flex;
              flex-flow: column nowrap;
              justify-content: flex-end;
              padding: 1rem 1rem 2rem 1rem;
              background-color: rgba(0, 0, 0, 0.3);
              border-radius: 10px;
              overflow: hidden;
              height: 100%;
              z-index: 2;
              text-decoration: none;
              .head2,
              .projUrl {
                text-decoration: none;
                color: #ffffff;
              }

              .projName {
                font-size: 18px;
              }
              .projUrl {
                font-size: 12px;
              }
            }
          }
        }
      }
      &.sec3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-gap: 1rem;
        grid-template-areas:
          "title"
          "profile"
          "dev"
          "design";
        padding-bottom: 3rem;
        .toolset {
          .skillCard {
            padding: 1.5rem;
            background-color: $primary;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            border-radius: $radius;
            .head3.development {
              align-self: center;
              margin-bottom: 1rem;
            }
            .skill {
              width: 100%;
              margin-bottom: 0.75rem;
              display: grid;
              grid-template-columns: 80px 1fr;
              h3.head3 {
                font-size: 14px;
                align-self: center;
              }
              .bar {
                align-self: center;
                min-width: 10px;
                height: 12px;
                background-color: $secondary;
                border-radius: 0 50px 50px 0;
                &.html {
                  width: 80%;
                }
                &.css {
                  width: 80%;
                }
                &.js {
                  width: 40%;
                }
                &.bootstrap {
                  width: 60%;
                }
                &.sass {
                  width: 80%;
                }
                &.wordpress {
                  width: 70%;
                }
                &.gsap {
                  width: 50%;
                }
                &.flexbox {
                  width: 90%;
                }
                &.grid {
                  width: 90%;
                }
              }
            }
          }
        }
        div.aboutMe {
          display: flex;
          flex-flow: column nowrap;
          img.portrait {
            margin: 1rem 0;
            border-radius: 10px;
          }
          p {
            margin-bottom: 2rem;
          }
        }
        .statCard {
          position: relative;
          width: 100%;
          min-height: 500px;
          height: 100%;
          max-height: max-content;
          perspective: 1000px;
          -webkit-perspective: 1000px;
          border-radius: 10px;
          &.profile {
            grid-area: profile;
          }
          &.dev {
            grid-area: dev;
          }
          &.design {
            grid-area: design;
          }
          &.active {
            .card {
              -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
            }
          }
          .card {
            padding: 1rem;
            width: 100%;
            height: 100%;
            position: absolute;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transition: -webkit-transform 0.8s
              cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            border-radius: 8px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.24);
            cursor: pointer;
            div {
              // padding: 1rem;
              // position: absolute;
              width: 100%;
              // height: 100%;
              backface-visibility: hidden;
              -webkit-backface-visibility: hidden;
              border-radius: 8px;
              background: #fff;
              display: flex;
              justify-content: center;
              // align-items: center;
              font-size: 18px;
              font-family: Open Sans;
              color: #212121;
            }
            .front {
              padding: 0.25rem;
              display: flex;
              flex-flow: column nowrap;
              justify-content: flex-start;
              align-items: center;
              &.card_front {
              }
              .portrait {
                max-width: 200px;
                border-radius: 200px;
                margin-bottom: 1rem;
              }
            }
            .back {
              -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);

              display: flex;
              flex-flow: column nowrap;
              align-items: center;
              &.card_back {
              }
              h2 {
                z-index: 1;
              }
              .interests {
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;
                .pill {
                  padding: 4px 1rem;
                  margin: 0 0.25rem 1rem 0;
                  border: 1px solid $accent;
                  border-radius: 40px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Footer
.foot {
  min-height: 150px;
  background-color: $primary;
  padding: 1rem;
  .footContainer {
    .footTitle {
      font-size: 16px;
      text-align: center;
    }
  }
}
